Source: ros-kinetic-iirob-filters
Section: misc
Priority: extra
Maintainer: Denis Štogl <denis.stogl@kit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-dynamic-reconfigure, ros-kinetic-eigen-conversions, ros-kinetic-filters, ros-kinetic-geometry-msgs, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rosparam-handler, ros-kinetic-rostest, ros-kinetic-tf2-ros
Homepage: http://wiki.ros.org/iirob_filters
Standards-Version: 3.9.2

Package: ros-kinetic-iirob-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cmake-modules, ros-kinetic-dynamic-reconfigure, ros-kinetic-eigen-conversions, ros-kinetic-filters, ros-kinetic-geometry-msgs, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rosparam-handler, ros-kinetic-rostest, ros-kinetic-tf2-ros
Description: The iirob_filters package implements following filters: 1) Low-Pass 2) Moving Mean 3) Gravity Compensation (used for force-torque sensors) 4) Threshold Filter 5) Kalman Filter
